/*fonts*/


/* reset css meyer */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* common */
body {
	color: #333333;
	font: 13px/17px Arial, Helvetica, sans-serif;
/*	padding-top:9px; */
    width: 740px;
    margin: auto auto;
	padding-bottom:27px;
}



.clear { clear:both; }
a { text-decoration:none; }
/* header */
.X-dllOOpMPDRT {
    float: left;
	background: url("../img/logo-orange.png") no-repeat scroll 0 0 transparent;
	height: 53px;
	width: 53px;
	color: #666666;
/*	font: 34px brandtrvorslayir95;
	margin: 0 auto;*/
    margin-top: 22px;
//    padding: 22px 0 0 72px;
}
#ZXRRT00pl {
	color: #333333;
	font: 34px brandtrvorslayir95;
}
ul#LLMMOP00TR {
	margin: 0 auto 17px;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	height: 43px;
	padding: 0;
	position: relative;
	z-index: 0;
    width:100%;
}
ul#LLMMOP00TR li {
	background: url("../img/bc-arrow.png") no-repeat scroll 0 0 transparent;
	background-size: 267px 43px;
    color: #333333;
	float: left;
	font-size: 18px;
    font-family:Arial;
	font-weight: normal;
	height: 42px;
	line-height: 18px;
	list-style-type: none;
	margin-left: -26px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	width: 267px;
}
ul#LLMMOP00TR li.RRTGFDDC {
	margin-left: 0;
	z-index: 5;
}
ul#LLMMOP00TR li.RRTGFDDC span {
    color: #333333;
	margin-left: -22px;
}
ul#LLMMOP00TR li.contact { z-index: 4; }
ul#LLMMOP00TR li.delivery { z-index: 3; }
ul#LLMMOP00TR li.RRTGFDDCP { z-index: 2; }
/*	background-size: 250px;
    width: 250px;*/

ul#LLMMOP00TR li.RRTGFDDCC {
	background: url("../img/bc-arrow-last.png") repeat-x scroll 0 0 transparent;
    background-size: auto 43px;
    width: 255px;
	z-index: 1;
}
ul#LLMMOP00TR li.RRTGFDASE {
	background: url("../img/bc-arrow-hover.png") no-repeat scroll 0 0 transparent;
	background-size: 270px 43px;
    width: 270px;
	color: #FF6600;
}
/* form */
#MMHJKI {
	background:url("../img/lock_lg.png") no-repeat scroll 0px 0px transparent;
	background-size: 42px 59px;
//	width:750px;
	margin:0 auto;
	margin-top:18px;
	clear:both;
	position:relative;
}
#MMHJKI h1 {
	color: #333333;
	font: 34px brandtrvorslayir95;
	display: block;
    font-size: 34px;
	padding: 1px 0 15px 54px;
}
.YYTGFEDSS {
	color: #666666;
	display: block;
	font: 12px brandtrvorslayir105;
	line-height: 18px;
	padding: 0 0 19px 55px;
	margin-top:-15px;
}

/* logos secure */
#secure-logos {
	 position: absolute;
    right: -12px;
    top: 7px;
}
#secure-logos .secure-logos-list { display:inline-block; }
#secure-logos .secure-logos-list ul { list-style-type:none; }
#secure-logos .secure-logos-list ul li { float:left; }
#secure-logos .secure-logos-list ul li.text {
	font-weight:bold;
	padding: 18px 15px 12px;
	font-size: 13px;
}


.RRTGFDDCP_container{
	margin-top: -1px;
}

/* form */
#OOLKDSAAZXC.IIOPEEDCS {
	background: url("../img/bg-box.png") repeat-x scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	font-size: 13px;
	padding: 11px 46px 50px 19px;
}



#X-dllOOPD.X-dllOOPDRT h3 {
    font-size: 21px;
    margin-top: 6px;
    margin-bottom: 3px;
}
#X-dllOOPD.X-dllOOPDRT p.WEDJJKLNRSTFD {
	font-family:Arial;
	color: #333333;
	line-height: 18px;
	margin-bottom: 35px;
	margin-top: -6px;
}
#X-dllOOPD .YUJFNV {
	/*color: #FF6600;*/
	font-weight: bold;
}
#X-dllOOPD label, #X-dllOOPD input, #card-type-trv, #expMonth, #expYear {
	color:#333333;
}

div.button { margin:16px 0 0px 0; }

#X-dllOOPD .OOLPDDCX90-DDS.RRTGFDDCP {
	background: url("../img/chevron.png") no-repeat scroll 0 -17px transparent;
    border: medium none;
    color: #555555;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 0 0 17px;
    position: relative;
    text-decoration: none;
    top: 16px;
}
#X-dllOOPD .OOLPDDCX90-DDS.RRTGFDDCP:hover {
	background-position: 0 -99px;
	color: #FF6600;
	text-decoration: none;
}

.hidden {
	display: none
}
#X-dllOOPD span.imp {
	background: url("../img/btn-orange-no-arrow.png") no-repeat scroll 0 0 transparent;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	float: right;
	font-size: 14px;
	font-weight: bold;
	left: -28px;
	line-height: 20px;
	padding: 14px 6px 16px 35px;
	position: relative;
}
#X-dllOOPD span.imp:hover { 
background-position: 0 -50px;
text-decoration:none; }
#X-dllOOPD span.imp .end {
	position:absolute;
	width:30px;
	height:50px;
	right:-30px;
	top:0;
	display:block;
	background: url("../img/btn-orange-no-arrow.png") no-repeat scroll right 0 transparent;
}
#X-dllOOPD span.imp:hover .end {background-position:right -50px;}
#X-dllOOPD input, select#card-type-trv, select#expMonth, select#expYear {
	padding: 1px;
	position: relative;
	top: -2px;
}
select#card-type-trv { width:167px; margin-right: 5px; }
input#PPLEED { width:137px; }
select#expMonth, select#expYear { width:auto; }
#X-dllOOPD .cards {
	margin-left: 10px;
	vertical-align: top;
    width: 188px
}

.RRTUTIFFKEEWWQQ {
	margin-left: 5px;
	vertical-align: top;
}

#X-dllOOPD .OOPFFVNZZ {
	height: 27px;
	margin-bottom: 12px;
}

#RRTUTIGGJBNVBV {
	margin-top:-28px;
}
label, .divExpirationDate > p {
	float:left;
	display: inline-block;
*display: inline;
*zoom : 1;
}
.divExpirationDate { margin-bottom:3px; }
label, p.libelle { 
  width:134px;
}

img.OOPPFGBBV.KKLDDKKKDKDKDS { display: block;
    float: left;
    position: relative;
    top: -11px;}
p.OPBX66767-DS { color: #666666;float:left;margin-left:9px; }
.IINTTYGFFInfoBox {
    margin-left: 135px;
    margin-top: 20px;
}

#divFFRTREESDF {
	font-familly:Arial;
	font-size: 21px;
	height: 36px;
	clear:right;
}

.RRTITOTGHFHFERROR { color:#FF0000; }
.RRTITOTGHFHFERROR_message {
    margin-left: 253px;
}

#footer {
	clear: both;
	margin: 0px auto 10px;
    position: relative;
}
#footer .legal {
	border: 1px solid #CCCCCC;
	padding: 11px 22px 10px;
}
#footer .legal p {
	font-size:12px;
	line-height:19px;
	text-align: justify;
}
.deny{
	opacity: .6;
}